<%= content_for :title, "Feedback for #{@presentation.presenter}" %>
<h1>Feedback for <%= @presentation.presenter %></h1>
<p><%= @presentation.name %></p>

<%= render :partial => "editable_feedback_form", :locals => {:destination_url => new_presentation_feedback_path, :button_name => "Create"} %>

